.top-nav {
    height: 101px;
    max-width: 1081px;
}

.top-nav h2 {
    font-size: 36px;
    line-height: 42px;
    color: #121212;
}


/* ==== RIGHT SIDE ITEMS ==== */

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #12C4E0;
    border-radius: 11px;
}


.notification-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #12C4E0;
    border-radius: 11px;
}

.user-box {
    width: 60px;
    height: 60px;

}

/* ======= Drop Down ===== */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    left: -100px;
    background: #FFFFFF;
    box-shadow: 0px 5px 27px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p{
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}