@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Gilroy-Bold;
    src: url('./Assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('./Assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('./Assets/fonts/Gilroy-Regular.ttf');
}